<div id="contener">
<!-- 头 -->
	<div class="header-top">
		<div class=" fl" ui-sref="start">
			<a href=""><img src="img/mlogo.png" alt=""></a>
			
		</div>
		<div class="qicai">
			空购物车
		</div>
		<div class="fr">
			<div class="fl">菜单</div>
			<div class="fr">
				<img src="img/mlogo_r.png" alt="">
			</div>
		</div>
	</div>
	<div class="search" style="background-color: #ECEBE6 ;">
		<div class="sc-l fl">
			<input class="fl" type="text" placeholder="请输入关键字" value="鲜奶蛋糕">
			<div class="so fr"></div>
		</div>
		<div class="sc-r fr">在线咨询</div>
	</div>
	<!-- ，，，，，，，，，，，，，，，， -->
	<!-- 尾部 -->
	<div class="bottom">
		<ul>
			<li ui-sref="start">
			  <a href="">
			  	<img src="img/footer00.png" alt="">
			  </a>
				
			</li>
			<li ui-sref="sort">
			    <a href="">
			    	<img src="img/footer10.png" alt="">
			    </a>
				
			</li>
			<li>
				<a href="">
				   <img src="img/footer21.png" alt="">
				</a>
				
			</li>
			<li>
				<a href="">
				  <img src="img/footer30.png" alt="">
				</a>
				
			</li>
			<li ui-sref="help">
				<a href="">
					<img src="img/footer40.png" alt="">
				</a>
				
			</li>
		</ul>
	</div>
	<!-- 侧边栏-->
	<div id="xf">
		<a class="wx" href=""></a>
		<a class="kf" href=""></a>
		<!-- <a id="sctt" href="javascript:;" ></a> -->
	</div>
    <div class="car">
    	<div>
    		<img src="img/cart_kong.png" alt="">
    	</div>
    	<div>购物车还是空的，去挑几件中意的商品吧</div>
    	<div>开始购物</div>
    </div>



</div>