<div id="contener">
<!-- 头 -->
	<div class="header-top">
		<div class=" fl" ui-sref="start">
			<a href=""><img src="img/mlogo.png" alt=""></a>
			
		</div>
		<div class="qicai">
			产品分类
		</div>
		<div class="fr">
			<div class="fl">菜单</div>
			<div class="fr">
				<img src="img/mlogo_r.png" alt="">
			</div>
		</div>
	</div>
	<div class="search" style="background-color: #ECEBE6 ;">
		<div class="sc-l fl">
			<input class="fl" type="text" placeholder="请输入关键字" value="鲜奶蛋糕">
			<div class="so fr"></div>
		</div>
		<div class="sc-r fr">在线咨询</div>
	</div>
	<!-- ，，，，，，，，，，，，，，，， -->
	<!-- 尾部 -->
	<div class="bottom">
		<ul>
			<li ui-sref="start">
			  <a href="">
			  	<img src="img/footer00.png" alt="">
			  </a>
				
			</li>
			<li >
			    <a href="">
			    	<img src="img/footer11.png" alt="">
			    </a>
				
			</li >
			<li ui-sref="mycar">
				<a href="">
				   <img src="img/footer20.png" alt="">
				</a>
				
			</li>
			<li>
				<a href="">
				  <img src="img/footer30.png" alt="">
				</a>
				
			</li>
			<li ui-sref="help">
				<a href="">
					<img src="img/footer40.png" alt="">
				</a>
				
			</li>
		</ul>
	</div>
	<!-- 侧边栏-->
	<div id="xf">
		<a class="wx" href=""></a>
		<a class="kf" href=""></a>
		<!-- <a id="sctt" href="javascript:;" ></a> -->
	</div>
    <div class="sortList">
    	<ul>
    		<li><a href=""><img src="img/class_dg.png" alt=""><div>蛋糕</div></a></li>
    		<li><a href=""><img src="img/class_xh.png" alt=""><div>鲜花</div></a></li>
    		<li><a href=""><img src="img/class_lmzh.png" alt=""><div>浪漫组合</div></a></li>
    		<li><a href=""><img src="img/class_hongjiu.png" alt=""><div>红酒</div></a></li>
    		<li><a href=""><img src="img/class_qkl.png" alt=""><div>巧克力</div></a></li>
    		<li><a href=""><img src="img/class_kt.png" alt=""><div>卡通花束</div></a></li>
    		<li><a href=""><img src="img/class_mrwj.png" alt=""><div>毛绒玩具</div></a></li>
    		<li><a href=""><img src="img/class_syhl.png" alt=""><div>商业花篮</div></a></li>
    		<li><a href=""><img src="img/class_gl.png" alt=""><div>果篮</div></a></li>
    	</ul>
    </div>
    <div class="fill">
    	
    </div>









</div>
