<div id="contener">
<!-- 头 -->
	<div class="header-top">
		<div class=" fl" ui-sref="sort" >
			<a href="">&nbsp&nbsp分类</a>
			
		</div>
		<div class="qicai">
			七彩蛋糕
		</div>
		<div class="fr">
			<div class="fl">菜单</div>
			<div class="fr">
				<img src="img/mlogo_r.png" alt="">
			</div>
		</div>
	</div>
	<div class="search" style="background-color: #ECEBE6 ;">
		<div class="sc-l fl">
			<input class="fl" type="text" placeholder="请输入关键字" value="鲜奶蛋糕">
			<div class="so fr"></div>
		</div>
		<div class="sc-r fr">在线咨询</div>
	</div>
	<!-- ，，，，，，，，，，，，，，，， -->
	<!-- 尾部 -->
	<div class="bottom">
		<ul>
			<li>
			  <a href="">
			  	<img src="img/footer01.png" alt="">
			  </a>
				
			</li>
			<li ui-sref="sort">
			    <a href="">
			    	<img src="img/footer10.png" alt="">
			    </a>
				
			</li>
			<li ui-sref="mycar">
				<a href="">
				   <img src="img/footer20.png" alt="">
				</a>
				
			</li>
			<li>
				<a href="">
				  <img src="img/footer30.png" alt="">
				</a>
				
			</li>
			<li ui-sref="help">
				<a href="">
					<img src="img/footer40.png" alt="">
				</a>
				
			</li>
		</ul>
	</div>
	<!-- 侧边栏-->
	<div id="xf">
		<a class="wx" href=""></a>
		<a class="kf" href=""></a>
		<a id="sctt" href="#"></a>
	</div>
    <!-- 轮播图-->
    <div class="swiper-container" ng-controller='flash'>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/m_banner1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/m_banner7.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/m_banner710.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/m_banner8.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/m_banner9.jpg" alt="">
            </div>
        </div>
    <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    
    <!-- 如果需要导航按钮 -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
    
    <!-- 如果需要滚动条 -->
      <!--  <div class="swiper-scrollbar"></div> -->
    </div>

<!--。。。。。。。。。。。。 -->
<div class="sort">
	<ul>
		<li>
		    <a href="">
		    	<img src="img/cake.png" alt="">
                <div>蛋糕</div>
		    </a>
   		</li>
		<li>
			<a href="">
				<img src="img/flower.png" alt="">
			    <div>鲜花</div>
			</a>
		    			
		</li>
		<li>
			<a href="">
				<img src="img/lm11.png" alt="">
			    <div>浪漫组合</div>
			</a>
				
		</li>
		<li>
			<a href="">
				<img src="img/more.png" alt="">
			    <div class="more">更多</div>
			</a>
		</li>
	</ul>
</div>
    <!--  ..............-->
<div class="home">
	<ul>

		<li class="pay">
		    <a href="">
		    	<div class="fl">
                    <img src="img/home_pay.png" alt="">
			    </div>
			    <div class="fr">订单去哪了</div>
		    </a>
			
		</li>
		<li class="phone">
			<a href="">
		    	<div class="fl">
                    <img src="img/home_phone.png" alt="">
			    </div>
			    <div class="fr">400-658-1177</div>
		    </a>
		</li>
		<li class="zx">
			<a href="">
		    	<div class="fl">
                    <img src="img/home_zx.png" alt="">
			    </div>
			    <div class="fr">在线咨询</div>
		    </a>
		</li>
		<li class="qq">
			<a href="">
		    	<div class="fl">
                    <img src="img/home_qq.png" alt="">
			    </div>
			    <div class="fr">QQ:139010678</div>
		    </a>
		</li>
	</ul>
</div>
<!-- ............ -->
<div class="menu-sortA">
	<div id="msa1" class="fl msa1">A</div>
	<div id="msa2" class="fl msa2">热卖推荐</div>
	<div class="msam fr">更多>></div>	
</div>


<div class="list">
	<ul>
		<li>
		    <span>
		    	<img src="img/hot_rm.png" alt="">
		    </span>
			<div class="goods" id="goods">
			    <a href="">
			    	<img src="img/711673175228.jpg" alt="">
			    </a>
				
			</div>
			<div class="txt" id="txt">我想要的幸福</div>
			<div class="name">九宫格水果蛋糕</div>
			<div class="goodsBottom">
				<div class="fl money">¥188</div>
				<div class="car1 fl">
					<img src="img/cartico0.png" alt="">
				</div>
				<div class="fr buy">
				    <a href="">购买</a>
				</div>
			</div>
		</li>
		<li>
			<span>
		    	<!-- <img src="""> -->
		    </span>
			<div class="goods">
			    <a href="">
			    	<img src="img/711673175228.jpg" alt="">
			    </a>
				
			</div>
			<div class="txt">我想要的幸福</div>
			<div class="name">九宫格水果蛋糕</div>
			<div class="goodsBottom">
				<div class="fl money">¥188</div>
				<div class="car fl">
					<img src="img/cartico0.png" alt="">
				</div>
				<div class="fr buy">
				    <a href="" >购买</a>
				</div>
			</div>
		</li>
		<li>
			<span>
		    	<!-- <img src="""> -->
		    </span>
			<div class="goods">
			    <a href="">
			    	<img src="img/711673175228.jpg" alt="">
			    </a>
				
			</div>
			<div class="txt">我想要的幸福</div>
			<div class="name">九宫格水果蛋糕</div>
			<div class="goodsBottom">
				<div class="fl money">¥188</div>
				<div class="car fl">
					<img src="img/cartico0.png" alt="">
				</div>
				<div class="fr buy">
				    <a href="" >购买</a>
				</div>
			</div>
		</li>
		<li>
			<span>
		    	<!-- <img src="""> -->
		    </span>
			<div class="goods">
			    <a href="">
			    	<img src="img/711673175228.jpg" alt="">
			    </a>
				
			</div>
			<div class="txt">我想要的幸福</div>
			<div class="name">九宫格水果蛋糕</div>
			<div class="goodsBottom">
				<div class="fl money">¥188</div>
				<div class="car fl">
					<img src="img/cartico0.png" alt="">
				</div>
				<div class="fr buy">
				    <a href="" >购买</a>
				</div>
			</div>
		</li>
		<li>
			<span>
		    	<!-- <img src="""> -->
		    </span>
			<div class="goods">
			    <a href="">
			    	<img src="img/711673175228.jpg" alt="">
			    </a>
				
			</div>
			<div class="txt">我想要的幸福</div>
			<div class="name">九宫格水果蛋糕</div>
			<div class="goodsBottom">
				<div class="fl money">¥188</div>
				<div class="car fl">
					<img src="img/cartico0.png" alt="">
				</div>
				<div class="fr buy">
				    <a href="" >购买</a>
				</div>
			</div>
		</li>
		<li>
			<span>
		    	<!-- <img src="""> -->
		    </span>
			<div class="goods">
			    <a href="">
			    	<img src="img/711673175228.jpg" alt="">
			    </a>
				
			</div>
			<div class="txt">我想要的幸福</div>
			<div class="name">九宫格水果蛋糕</div>
			<div class="goodsBottom">
				<div class="fl money">¥188</div>
				<div class="car fl">
					<img src="img/cartico0.png" alt="">
				</div>
				<div class="fr buy">
				    <a href="" >购买</a>
				</div>
			</div>
		</li>
	</ul>
</div>


<div class="text"></div>	
</div>